body {
    background-color: #ffbb00;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, serif;
}

a {
    color: #009999;
}

/* Fix for horrible samsung web browser */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffbb00;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: Georgia, serif;
    }
    
    a {
        color: #009999;
    }
}